body {
    text-align: center;
    font: 宋体;
    font-size: 20px;
}

#input_table {
    width: 880px;
}

img {
    vertical-align: middle;
}

input {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

select {
    font-size: 20px;
}

.S {
    font-size: 20px;
    border-radius: 10px;
}
