.content{
    background: none repeat scroll 0 0 #E4F0F8;
    font-family:Calibri;
    font-size: 20px;
    line-height: 24px;
    height: auto;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    white-space:normal;
}

.green{
    color: green;
}

.sampledata {
    background: none repeat scroll 0 0 #8DB8FF;
    font-family:Calibri;
    font-size: 18px;
    white-space: pre;
}

.main{
    width: 90%;
}