@import url(../bootstrap/css/bootstrap.css);
h3{
    text-align: center;
}

.red{
    color: red;
}

.oddrow {
    background-color: #a6e1ec;
    white-space: nowrap;
    font-family: 宋体;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.evenrow {
    background-color: #E4F0F8;
    white-space: nowrap;
    font-family: 宋体;
}

input{
    height: 20px;
    font-family: 宋体;
}

.toprow {
    background-color: #2aabd2;
    color: #FFFFFF;
    font-weight: bold;
    white-space: nowrap;
    font-family: 宋体;
    /*background: url("image/menu_bg.png");*/
}

.toprow a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    font-family: 宋体;
}

.toprow a:hover {
    color: orange;
    font-family: 宋体;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.pointer{
    cursor:pointer
}

.center{
    text-align: center;
    font-family: 宋体;
}

.left{
    text-align: left;
}