#logo {
    position: static;
    border-radius: 50px;
    vertical-align: middle;
}

#head {
    height: 53px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 1;
    font-size: 25px;
    font-family: 宋体;
}

#menu {
    /*background: url("../image/menu_bg.png") repeat scroll 0 0 transparent;*/
    font-weight: bold;
    height: 35px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 2;
    font-family: 宋体;
}


#profile {
    font-weight: bold;
    height: 32px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 3;
    font-family: 宋体;
}

#subhead{
    height: 100px;
    font-size: 20px;
    font-family: 宋体;
}