@import url(../bootstrap/css/bootstrap.css);
#logo {
    position: static;
    border-radius: 50px;
    vertical-align: middle;
}

#head {
    height: 53px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 1;
    font-size: 25px;
    font-family: 宋体;
}

#menu {
    /*background: url("../image/menu_bg.png") repeat scroll 0 0 transparent;*/
    font-weight: bold;
    height: 35px;
    position: static;
    text-align: center;
    visibility: visible;
    width: 100%;
    z-index: 2;
    font-family: 宋体;
}


#profile {
    font-weight: bold;
    height: 32px;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 3;
    font-family: 宋体;
}

#subhead{
    height: 100px;
    font-size: 20px;
    font-family: 宋体;
}

.problem_set{
    position: relative;
    display: inline-block;
}
.admin-problemset{
    display: none;
    position: absolute;
    background-color: #faebcc;
    border-radius: 5px;
}
.problem_set:hover .admin-problemset {
    display: block;
}
.admin-problemset a:hover{
    background-color: #2aabd2;
}

.contest_set{
    position: relative;
    display: inline-block;
}
.admin-contestset{
    display: none;
    position: absolute;
    background-color: #faebcc;
    border-radius: 5px;

}
.contest_set:hover .admin-contestset {
    display: block;
}
.admin-contestset a:hover{
    background-color: #2aabd2;
}

