@import url(../bootstrap/css/bootstrap.css);
body {
    text-align: center;
    font-size: 20px;
}

#input_table {
    width: 660px;
}

img {
    vertical-align: middle;
}

input {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.S {
    font-size: 20px;
    border-radius: 10px;
}

.center{
    text-align: center;
    font-family: 宋体;
}