@import url(../bootstrap/css/bootstrap.css);
body{
    font-size: 20px;
}

input{
    height:20px;
}

span.yes {
    color: green;
    font-weight: bolder;
}

span.no {
    color: red;
    font-weight: bolder;
}

.toprow {
    width: 80%;
    background-color: deepskyblue;
    color: #FFFFFF;
    font-weight: bold;
    white-space: nowrap;
}

.toprow a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.toprow a:hover {
    color: orange;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.oddrow {
    background-color: #a6e1ec;
    white-space: nowrap;
}

.evenrow {
    background-color: #E4F0F8;
    white-space: nowrap;
}

#result_table{
    position: relative;
    text-align:center;
    vertical-align:middle;
}

#result_table td{
    position: relative;
    text-align:center;
    vertical-align:middle;
}

#result_table td a{
    text-align:center;
    vertical-align:middle;
    position:  relative;
}

td a{

}

#center{
    text-align: center;
    font-family: 宋体;
}

.center{
    text-align: center;
    font-family: 宋体;
}