.top {
    position: absolute;
    left: 0; right: 0;
    height: 72px;
}
.sidebar {
    position: absolute;
    left: 0; top: 72px; bottom: 0;
    width: 178px;
}
.content {
    position: absolute;
    left:178px; top: 72px; right: 0; bottom: 0;
}

#sideToggle {
    display: none;
}
.sidebar {
    display: none;
}
.content {
    position: absolute;
    left:0; top: 72px; right: 0; bottom: 0;
}
#sideToggle:checked + .sidebar{display: block}
#sideToggle:checked ~ .content{left: 178px}