@import url(../bootstrap/css/bootstrap.css);

.problem_set{
    position: relative;
    display: inline-block;
}
.admin-problemset{
    display: none;
    position: absolute;
}

.problem_set:hover .admin-problemset {
    display: block;
}
.test{
    color:limegreen;
}
. t1{
    color:greenyellow;
}